@tailwind base;
@tailwind components;
@tailwind utilities;

select:invalid { color: gray; }

.dropdown {
  background-color: #f1f6ff;
  z-index: 10000;
  width: 340px;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdown-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #777;
  margin-bottom: 3px;
}

.dropdown-content .item {
  padding: 4px;
  cursor: pointer;
}
.dropdown-content .item:hover {
  background: #ff4501;
}

textarea{
  width: 340px;
  position: relative;
}